<div class="py-5">
	<div class="container">
		<div class="row">
		  <div class="col-lg-4 col-md-4 col-sm-12 col-content">
			<section class="card nga-card-about card-logo">
				<img class="" src="./assets/params/images/about/escrivivir_co-about.png" height="160" width="160" alt="Logo" title="Logo">

				<div class="card-body">
					<h1 class="card-title h5">
						<strong><p>{{serverService.usuarioService.nombre()}}</p></strong>
					</h1>
				</div>
				<div class="FrontEnd">
					<h2 class="h5 mb-4 text-primary">
						<strong>Front End</strong>
					</h2>
					<div class="row mb-2"><i class="fas fa-desktop mb-2"></i>
						<h3 class="h5">Namespaces</h3>
					</div>
					<div class="row">
						<h4 *ngFor="let item of serviceNamespaces()" class="h6"><i
								class="fa fa-square fa-xs text-primary me-2"></i>{{item.name }}</h4>
					</div>
					<hr>
					<div class="row mb-2"><i class="fas fa-desktop mb-2"></i>
						<h3 class="h5">Módulos de la app en curso</h3>
					</div>
					<div class="row ml-4">
						<div class="col">
							<div class="table-responsive">
								<table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
									<thead>
										<tr>
											<th class="h6">Name</th>
											<th class="h6 ">IN</th>
											<th class="h6 ">OUT</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of serviceModules()">
											<td>
												<h4 class="h6">{{ item.name }}</h4>
											</td>
											<td>
												{{ item.englishTutorial }}
											</td>
											<td>
												{{ item.frenchTutorial }}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="Backend">

					<h2 class="h5 mb-4 text-primary">
						<strong>Back End</strong>
					</h2>
					<div class="row mb-2"><i class="fas fa-laptop mb-2"></i>
						<h3 class="h5">Sockets</h3>
					</div>
					<div class="row">
						<h4 *ngFor="let item of serviceClients()" class="h6"><i class="fa fa-square fa-xs text-primary me-2"
								aria-hidden="true"></i>{{ item.name }}
						</h4>
					</div>
					<hr>
					<div class="row mb-2"><i class="fas fa-laptop mb-2"></i>
						<h3 class="h5">Apps {{ serviceApps().length }} </h3>
					</div>
					<div class="row ml-4">
						<h4 *ngFor="let item of serviceApps()" class="h6"><i class="fa fa-square fa-xs text-primary me-2"
								aria-hidden="true"></i>{{ item.name }}
						</h4>
					</div>

				</div>
			</section>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-12 col-content">
			<div class="card-body">
				<div class="accordion" id="accordionExample2">
					<div *ngFor="let item of IDEapp().slice(0, IDEapp().length / 2)" class="accordion-item">

						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne">
								{{ item.title }}
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show"
							aria-labelledby="headingOne"data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul class="small-list">
									<li *ngFor="let log of item.logs">
										{{ log.title }}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-12 col-content">
				<div class="card-body">
					<div class="accordion" id="accordionExample">
						<div *ngFor="let item of IDEapp().slice((IDEapp().length / 2), IDEapp().length)" class="accordion-item">

							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									{{ item.title }}
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show"
								aria-labelledby="headingOne"data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<ul class="small-list">
										<li *ngFor="let log of item.logs">
											{{ log.title }}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
			  </div>
		  </div>
		</div>
	  </div>
</div>