

<div class="card nga-card-menu">

	<form [formGroup]="form" (ngSubmit)="onSubmit()">

		<div class="card-header">
			<button type="submit" class="btn btn-primary small"><i class="fa fa-save me-1"></i></button>
		</div>
		<div class="card-body">

			<div class="accordion" id="accordionItems">

				<ng-container *ngFor="let key of form.controls | keyvalue">

					<ng-container *ngIf="form.get(key.key) as control">

						<label *ngIf="isFormControl(control)">{{ key.key }}</label>
						<input *ngIf="isFormControl(control)" [formControlName]="key.key" class="form-control" [type]="getInputType(control.value)">

						<div *ngIf="isFormGroup(control)" class="form-group" [formGroup]="control">

							<div class="card nga-card-menu">

								<div class="card-header accordion-header" >
									<a data-bs-toggle="collapse" data-parent="#accordionItems"
										href="#{{ id }}collapse{{ key.key }}"
										(click)="saveAccordionState(key.key)"
										aria-expanded="false">
										<div class="card-item">
											<span>{{ key.key }}:</span> {{ getStateSize() }} 
										</div>
									</a>
								</div>

								<div id="{{ id }}collapse{{ key.key }}" class="collapse"
									[class.show]="accordionState[getKey(key.key)]"
									aria-labelledby="headingOne" data-parent="#accordionItems">
									<div class="card-body">
										<app-dynamic-form
											[id]="id"
											[accordionState]="accordionState"
											[level]="level + 1"
											[dataInput]="jsonObject[key.key]"
											(formSubmit)="handleNestedSubmit({ name: key.key, value: $event.value })"
											(accordionEmiter)="handleAccordionEmiter($event)"
										>
										</app-dynamic-form>
									</div>
								</div>

							</div>

						</div>

						<div *ngIf="isFormArray(control) && getFormArrayControls(control).length > 0" class="form-group">

							<div class="card nga-card-menu">

								<div class="card-header">
									<a data-bs-toggle="collapse" data-parent="#accordionItems"
									href="#{{ id }}collapse{{  key.key }}"
									(click)="saveAccordionState(key.key)"
									aria-expanded="false">
									<div class="card-item">
										<span>{{ key.key }}:</span>  {{ getStateSize() }}
									</div>
									</a>
								</div>

								<div id="{{ id }}collapse{{ key.key }}" class="collapse"
									[class.show]="accordionState[getKey(key.key)]"
									aria-labelledby="headingOne" data-parent="#accordionItems">
									<div class="card-body">
										<div *ngFor="let ctrl of getFormArrayControls(control); let i = index" class="th">
											<app-dynamic-form
												[id]="id"
												[accordionState]="accordionState"
												[level]="level + 1"
												[dataInput]="getObject(key, i)"
												(formSubmit)="handleNestedSubmit({ name: key.key + 'ARRAY' + i, value: $event.value })"
												(accordionEmiter)="handleAccordionEmiter($event)"
												>
											</app-dynamic-form>
										</div>
									</div>
								</div>

							</div>
						</div>

					</ng-container>

				</ng-container>

			</div>
		</div>

	</form>

</div>