
.sudoku-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	position: relative;
}

input {
	width: 100%;
	height: 100%;
	text-align: center;
	border: none;
}

.current {
	color: white;
	background-color: green;
}

.backtrack {
	color: white;
	background-color: #112211;
}

.controls {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

button {
	margin: 0 5px;
	padding: 10px 20px;
}

/* Añadir bordes gruesos para subcuadros 3x3 */
.sudoku-container table tr:nth-child(3n) td {
	border-bottom: 4px solid black;
}

.sudoku-container table tr td:nth-child(3n) {
	border-right: 4px solid black;
}

.sudoku-container table tr:nth-child(3n + 1) td {
	border-top: 4px solid black;
}

.sudoku-container table tr td:nth-child(3n + 1) {
	border-left: 4px solid black;
}

#overview {
    background: none;
    border: none;
    box-shadow: none;
    width: 1800px;
    height: 1300px;
}

#overview div {
    width: 100%;
    height: 100%;
}

.step {
    position: relative;
    width: 1000px;
    height: 1000px;
    padding: 40px 60px;
    margin: 20px auto;

    box-sizing:         border-box;

    line-height: 1.5;

    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 40pt;
    letter-spacing: -1px;
    border: solid 2px red;

    opacity: 40%;
}

.step.active {
    opacity: 100%;
}

.step.ring2 {
    background-color: cyan;
}

.step.box {
    background-color: purple;
    opacity: 70%;
}

.step.box1 {
    background-color: lightblue;
}

.box-3d {
	width: 100%;
	height: 500px;
	background-color: white;
	border: 5px solid;
	border-color: #cccccc #666666 #666666 #cccccc; /* Creating a 3D border effect */
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adding a shadow for depth */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-align: center;

	overflow: hidden;
	position: relative;
}

#impress {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	/* Adjust the transform origin to center the content within the container */
	transform-origin: center center;
}

html, body {
	overflow: auto !important; /* Ensures the scrollbars are re-enabled */
}

element style {
	overflow: auto !important; /* Ensures the scrollbars are re-enabled */
}