table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	width: 30px;
	height: 30px;
	position: relative;
}




.box-3d {
	width: 100%;
	height: 700px;
	background-color: white;
	border: 5px solid;
	border-color: #cccccc #666666 #666666 #cccccc; /* Creating a 3D border effect */
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adding a shadow for depth */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	overflow: hidden;
	position: relative;
}

#impress {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	/* Adjust the transform origin to center the content within the container */
	transform-origin: center center;
}


/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully 
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features, 
    the fallback-message style is hidden.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}




/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }
.step.active {
    opacity: 100%;
}

.step {

    opacity: 40%;
}

.step {
    position: relative;
    display: block;

    width: 900px;

    margin: 20px auto;
    padding: 40px 60px;
	text-align: left;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 100%;

}
.small {
	font-size: 120%;
}
/****************** Background images **********************************************/


img.bg {
    position: fixed;
    z-index: -100;
    opacity: 0;
    height: 50%;
    width: auto;
    transition:  opacity 2s;
}

#applepie-image {
    left: 0px;
    bottom: 0px;
}

body.impress-on-applepie #applepie-image,
body.impress-on-applepie-pro #applepie-image,
body.impress-on-applepie-con #applepie-image,
body.impress-on-conclusion #applepie-image,
body.impress-on-overview #applepie-image {
    opacity: 0.7;
    transition:  opacity 2s;
}

#icecream-image {
    right: 0px;
    top: 0px;
}

body.impress-on-icecream #icecream-image,
body.impress-on-icecream-pro #icecream-image,
body.impress-on-icecream-con #icecream-image,
body.impress-on-conclusion #icecream-image,
body.impress-on-overview #icecream-image {
    opacity: 0.7;
    transition:  opacity 2s;
}

#crisps-image {
    right: 0px;
    bottom: 0px;
}

body.impress-on-crisps #crisps-image,
body.impress-on-crisps-pro #crisps-image,
body.impress-on-crisps-con #crisps-image,
body.impress-on-conclusion #crisps-image,
body.impress-on-overview #crisps-image {
    opacity: 0.7;
    transition:  opacity 2s;
}


/*************** Slide specific things ****************************/

#image-credits {
    color: #779988;
}
